name: Build QMK firmware

on:
  push:
    branches:
      - develop
      - ci

permissions:
  contents: write

jobs:
  build:
    name: 'QMK Userspace Build'
    uses: qmk/.github/.github/workflows/qmk_userspace_build.yml@main
    with:
      qmk_repo: qmk/qmk_firmware
      qmk_ref: master

  publish:
    runs-on: ubuntu
    needs: build
    steps:
      - name: Application Version
        id: version
        uses: paulhatch/semantic-version@v5.4.0
        with:
            change_path: "keyboards layouts users qmk.json"

      - name: 'QMK Userspace Publish'
        uses: qmk/.github/.github/workflows/qmk_userspace_publish.yml@main
        if: always() && !cancelled()
        with:
            release_name: ${{ steps.version.outputs.version }}"
